       <section id="a1-about">
            <div class="container-n-about">
                <div class="banner-wrapper-about"> 

                    <p class="current-page-about">個人介紹</p>
                    <p class="path-about">首頁/個人介紹</p>

                </div>
            </div>
        </section>
        
                      
        <div class="p-3-1440-about">
            <section id="a2-about">
                <div class="container-about">
                    <div class="avatar-about"></div>
                </div>
            </section>

            <section id="a3-about">
                <div class="container-about">
                    <div class="personal-info-about">
                        <div class="personal-info-title-about">Coffee space</div>
                        <div class="personal-info-description-about">
                            這是咖啡分享部落格,<br>
                            我是一位喜愛咖啡,<br>
                            也喜歡交流分享的咖啡師<br>
                            從咖啡知識到咖啡店經營管理,<br>
                            這是個有味道的部落格<br><br>
                            <p>
                            SCA義式咖啡師證照<br>
                            咖啡店打工人                            
                            </p>
                        </div>
                        <p class="link-about"></p>

                        <ul class="external-link-about">
                            <li class="socialMediaLink-about"><h3 class="fb-about">FB:</h3><a class="link-about">https://reurl.cc/mvWlYV</a></li>
                            <li class="socialMediaLink-about"><h3 class="ig-about">IG:</h3><a class="link-about">https://www.instagram.com/coffee_space_2021/</a></li>
                            <li class="socialMediaLink-about"><h3 class="yt-about">Youtube:</h3><a class="link-about">https://www.youtube.com/user/oasis7968/featured</a></li>
                        </ul>
                    </div>
                </div>
            </section>            
        </div>