        <section id="a1-blog">
                <div class="banner-wrapper-blog"> 

                    <p class="current-page-blog">首頁</p>
                    <p class="path-blog">首頁/文章總覽</p>

                </div>
                <div class="horizon3-blog"></div> 
            <p class="article-path-blog">首頁/文章總覽/初學者沖咖啡應該避免的六個常見錯誤</p>  
        </section>
        
                      

        <section id="a2-blog">
                <div class="article-wrapper-blog">
                    <div class="article-info-blog">
                        <h2 class="article-title-blog">初學者沖咖啡應該避免的六個常見錯誤</h2>
                        <div class="article-detail-blog">
                            <div class="avatar-blog"><img src="/img/avatar_sm.png" alt=""></div>
                            <h3 class="title-blog">coffee space ‧</h3>
                            <h3 class="date-blog">28 Nov 2021</h3>
                        </div>
                    </div>
                    <div class="article-content-blog">   
                        <div class="article-img-blog"><img src="/img/Coffee-Geisha-2 1.png" alt=""></div>
                        <h3 class="content-blog">初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖啡應該避免的六個常見錯誤初學者沖咖</h3>                        
                    </div>

                </div>
        </section>