        <section id="a1-blogList">
                <div class="banner-wrapper-blogList"> 

                    <p class="current-page-blogList">文章總覽</p>
                    <p class="path-blogList">首頁/文章總覽</p>

            </div>
        </section>

        <section id="a2-blogList">
                <div class="articleList-wrapper-blogList">

                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-n-blogList">
                        <div class="card-n-img-blogList"><img src="/img/article.png" alt=""></div>
                        <div class="card-text-blogList">
                            <p class="card-tag-blogList">咖啡師相關</p>
                            <div class="change-blogList">
                                <div class="card-detail-blogList">
                                    <div class="avatar-blogList"><img src="/img/avatar_sm.png" alt=""></div>
                                    <h3 class="title-blogList">coffee space ‧</h3>
                                    <h3 class="card-date-blogList">28 Nov 2021</h3>
                                </div>
                                <h2 class="card-title-blogList">初學者沖咖啡應該避免的六個常見錯誤</h2>
                            </div>
                        </div>
                    </div>

        </section>